* {
    font-family: Georgia,Palatino,Times,"Times New Roman",sans-serif;
}

.clear {
    clear: both;
}

.keynes {
    display: block;
    float: left;
}

.titre-principal {
    padding-left: 50px;
    font-size: 4em;
    float: left;
}

.petit-titre {
    display: block;
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
    color: #8A2710;
    font-weight: bold;
    font-size: 1.2em;
}

nav {
    width: 262px;
    float: left;
}
nav ul {
    list-style: none;
    text-align: right;
    border-right: 1px solid #CCC;
    padding: 0 20px 0 5px;
    margin: 0;
}
nav ul li {
    padding-right: 14px;
}
nav ul li.active {
    padding-right: 0;
}
nav ul li.active a:after {
    width: 12px;
    content:" >";
 
}
nav a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 14px;
    color: #4A5705;
}
nav a:hover {
    color: #B4C264;
}

section {
    float: left;
    padding-left: 50px;
}
section a {
    color: #161D5F;
}
section a:hover {
    color: #656CAF;
}
section ul {
    list-style: none;
    padding: 0 20px 0 5px;
    margin: 0;
}
section p {
    margin: 0;
}

.program li {
    display: block;
    margin-bottom: 10px;
}
.program li p {
    padding-bottom: 5px;
}
.abstract li {
    display: block;
    margin-bottom: 15px;
}

.information p {
    margin-bottom: 15px;
}

footer {
    border-top: 1px solid #CCC;
    font-size: 0.9em;
    padding: 5px 5px 0 5px;
    margin: 30px 5px 0 5px;
}
footer p {
    padding: 5px 10px;
    margin: 0;
}

noscript p{
    padding: 15px;
    border: 2px solid red;
}